<style>
        .row{
            padding-left: 10px;
            margin-right 10px;
            margin-left 10px;
             width: 70%;
            }

 th, td {
  border: 1px solid black;
  padding: 8px;
}

table{
    width:80%;
    text-align: center;
	vertical-align: middle;
	margin-left:10%;
	 margin-right:10%;
	 background-color:aliceblue;
}


.caption {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: #333;
  text-align: center;
  margin-bottom: 16px;
}
.container2{
width:79%;
margin:1%;
margin-left:10%;
background-color:green;
color:white;
}



    </style>


{%extends 'layout.html'%}


{%block contentAA %}

<div class="caption"><h3>Billing Page</h3></div>
        <div class="row">
                <div class="col-sm-3">
                Student rollno is :{{stud[0]}}

                </div>

                <div class="col-sm-3">
                  First Name: {{stud[1]}}</div>

                <div class="col-sm-3">
                  Last Name: {{stud[2]}}
                </div>
              <div class="col-sm-3">
                  User Name: {{session['username']}}
                </div>
            </div>

              <div class="row">
                <div class="col-sm-4">
                  Major:{{stud[3]}}
                </div>
                <div class="col-sm-4">
                  Dept:{{stud[4]}}
                </div>
                  <div class="col-sm-4">
                 email:{{stud[5]}}
                </div>
</div>



        <hr>
<div class="caption"><h3>Fill out the form</h3></div>
<form  method="post">
    <fieldset>
    <div class="row">
                 <div class="col-sm-6">

                    <select class="form-control" id="tuition" name="tuitionId" required="required">
                      <option value="">Choose tuition</option>
                        {% for d in tuition  %}
                        <option value="{{d[0]}}">{{d[1]}}</option>
                        {% endfor %}
                 </select>
                </div>
                 <div class="col-sm-6">
                   <select class="form-control" name="semester" id="color" required>
                       <option value="">Choose Semester</option>

                        {% for s in sem  %}
                        <option value="{{s[0]}}">{{s[1]}}</option>
                        {% endfor %}
                 </select>
                </div>
    </div>
            <br/><br/>
    <div class="row">
                <div class="col-sm-2">
                  <input type="text" name = "amount" id="form3Example1cg" class="form-control form-control-lg"  />
                  <label class="form-label" for="form3Example1cg">Fee</label>
                </div>


                <div class="col-sm-3">
                  <input type="hidden" name = "billNum" id="form3Example1cg" class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">billNum</label>
                </div>


       <div class="col-sm-2"> <button type="submit">tuition and Fees</button> </div>
</div>
    </fieldset>
</form>
<hr>



<div class="caption"> <h3>Liste of tuitions:</h3> </div>
<table >

        <tr>

            <th>Tuition Id</th>
            <th>Semester</th>
            <th>amount</th>
            <th>Due date</th>

            <th colspan="3">Actions</th>
        </tr>
        {% for row in data %}

            <tr>
                <td>{{row[0]}}</td>
               <td>{{row[1]}}</td>
                 <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>

                <td>
                    <a href="/billing/{{row[0]}}&{{ row[2]}}"><button class="btn btn-danger" onclick="return confirm('Are you sure to Delete data');" class="btn btn-danger">Delete </button> </a>
                  </td>

                 <td>
                     <a href="/billing/{{row[0]}}"><button class="btn btn-primary" data-target="#modaledit{{row[0]}}">Edit </button> </a>
                 </td>

            </tr>

    {% endfor %}
<tr>
    <td> Total charges  : {{item}}</td>
     <td> Total crdit  : {{nb_credit}}</td>
</tr>
</table>

</div>

{%endblock contentAA %}